{
  "extends": ["standard", "plugin:react"],
  "quotes": [2, "single"],
  "react/prop-types": [
    "enabled",
    { "ignore": "ignore", "customValidators": "customValidator" }
  ],
  "globals": { "fetch": false },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "linebreak-style": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "plugins": [
    "prettier"
  ]
}
